/* login page */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Body */
.main{
    font-family: 'JetBrains Mono', monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .slide-show img{
    width: 100%;
    max-width: 600px;
    height: auto;
}
.logo-login {
    justify-content: center;
    display: flex;
}
.logo-login img{
    margin: auto;
    padding: 10px;
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
}
.main .login-box .login-form{
    border-radius: 10px;
    border-style: hidden;
    padding: 10px;
    background-color: #97dae7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.login-box .form-inputs{
    display: flex;
    flex-direction: column;
    height: 100px;

}

.login-box .form-inputs input{
    font-size: large;
    margin: 12px 0px 0px 0px;
    padding: 5px;
    border-radius: 10px;
    border-style: hidden;
}

.login-box .btn-inputs button{
    color: #2d374e;
    font-size: large; 
    width: 100%;
    padding: 4px;
    margin: 8px 0px 0px 0px;
    border-radius: 10px;
    border-style:hidden;
    background-color: #5ec6db;
}

.login-box .signup-link{
    font-size: large;
    text-align:center;
    display: flex;
    color: rgb(255, 255, 255);
    border-style:hidden;
    border-width: 1px;
    border-radius: 10px;    
    padding: 10px;
    margin-top: 20px;
    background-color: #97dae7;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-box .signup-link a:link {
    color: #2d374e;
}
.login-box .signup-link a:hover {
    color: #ffffff;
}
/* Footer */
.footer {
    background-image: url("Assets/footer.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* Logo */
.footer .links .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
  }
  .fa:hover {
    opacity: 0.5;
  }
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
